.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 900px) {

  .App {
    width: 90%;
    height: 100%;
    margin: 0 5%;
   }
}
 