.App {
  
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 900px) {

  .App {
    width: 100vw;
    height: 100vh;
   }
   
}
 
