.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

@media screen and (max-width: 768px) {

  .App {
    width: 90%;
    margin: auto;
  }
}
